<div ng-controller="AppCtrl" np-app="materialSandbox" layout="column" style="height: 500px;">
  <section layout="row" flex>
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="over" opened="false" class="sidenav">
        <!-- sidenav content -->
        <mat-toolbar ng-controller="UserCtrl">
          <mat-toolbar-row class="iconWrapper">
                <img class="x3" src="{{currentUser.userImg}}">
          </mat-toolbar-row>
          
          <mat-toolbar-row class="accountInfo">
            <p><span class="name">{{currentUser.name}}</span>
              <br>
              <span class="email">{{currentUser.email}}</span>
            </p>
          </mat-toolbar-row>
          
        </mat-toolbar>
      </mat-sidenav>
    
      <!-- primary content -->
          <mat-toolbar color="primary">
            <span>
                <button type="button" mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon class="md-24" >menu</mat-icon>
                  </button>￼          
                </span>
            {{title}}
          </mat-toolbar>
          <div style="text-align:center">            
          <app-checkbox></app-checkbox>
          <app-text-input></app-text-input>
          <app-text-input></app-text-input>          
          <app-text-input></app-text-input>          
        </div>

  </mat-sidenav-container>
  </section>
</div>